@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

/* Reset */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

/* Avatar */
.user_avatar {
    width: 65px;
    height: 65px;
    display: inline-block;
    vertical-align: middle;
}

.user_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Comment Block */
.comment_block {
    width: 65%;
    margin: 0 auto;
    padding: 10px;
}

/* New comment input */
.create_new_comment {
    width: 100%;
    padding: 20px 0;
}

.input_comment {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: calc(100% - 75px);
}

.input_comment input[type="text"] {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
}

.input_comment input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #d5d5d5;
}

/* Comments */
.new_comment {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #d5d5d5;
}

.user_comment {
    list-style: none;
}

.comment_body {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 75px);
    min-height: 65px;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 0.9rem;
    color: #555;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
}

/* Reply box */
.replied_to {
    margin: 5px 0;
    background-color: #eee;
    border-bottom: 2px solid #ddd;
    border-radius: 5px;
}

.replied_to p {
    padding: 5px;
}

.replied_to span {
    color: #6495ed;
    margin-right: 2px;
}

/* Toolbar */
.comment_toolbar ul {
    list-style: none;
    padding-left: 75px;
    font-size: 0;
}

.comment_toolbar li {
    display: inline-block;
    padding: 5px;
    font-size: 0.7rem;
    color: #ccc;
    cursor: pointer;
}

.comment_details {
    display: inline-block;
    width: 70%;
    text-align: left;
}

.comment_tools {
    display: inline-block;
    width: 30%;
    text-align: right;
}

.comment_tools li:hover {
    color: #ccc;
}

/* Hover effects */
.user:hover {
    color: #6495ed;
    text-decoration: underline;
}

.love:hover {
    color: #ff6347;
}
