/* Variablen */
:root {
  --bg: #3d444d;
}

/* Basis für Sticky Footer */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  padding: 0;
}

/* Main content */
.main-content {
  flex: 1;
  background-color: var(--bg);
  margin-top: 0;
}

.left-column {
  background-color: var(--bg);
}

.middle-column {
  background-color: var(--bg);
}

.right-column {
  background-color: var(--bg);
}

/* Rechte Spalte */
#test {
  height: 200px;
  width: 200px;
}
